<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<div class="modal fade bs-example-modal-lg" id="calculadora" tabindex="-1" data-keyboard="false" data-backdrop="static">
	<div class="modal-dialog modal-lg">

			<div class="modal-content">

				<div class="modal-body">

    <div id="calculator">
      <div class="row">
        <div class="col-xs-2">
          <div class="well clear rodolfo-calculadora-limpar">
            Clr
          </div>
        </div>
        <div class="col-xs-10">
          <div class="well result">
            0
          </div>
        </div>

        <div class="digits">
          <div class="col-xs-3"><div class="well digit">7</div></div>
          <div class="col-xs-3"><div class="well digit">8</div></div>
          <div class="col-xs-3"><div class="well digit">9</div></div>
          <div class="col-xs-3"><div class="well digit rodolfo-calculadora-sinais">+</div></div>
          
          <div class="col-xs-3"><div class="well digit">4</div></div>
          <div class="col-xs-3"><div class="well digit">5</div></div>
          <div class="col-xs-3"><div class="well digit">6</div></div>
          <div class="col-xs-3"><div class="well digit rodolfo-calculadora-sinais">-</div></div>
          
          <div class="col-xs-3"><div class="well digit">1</div></div>
          <div class="col-xs-3"><div class="well digit">2</div></div>
          <div class="col-xs-3"><div class="well digit">3</div></div>
          <div class="col-xs-3"><div class="well digit rodolfo-calculadora-sinais">&times;</div></div>
          
          <div class="col-xs-3"><div class="well digit">0</div></div>
          <div class="col-xs-3"><div class="well digit rodolfo-calculadora-ponto">.</div></div>
          <div class="col-xs-3"><div class="well digit rodolfo-calculadora-igual">=</div></div>
          <div class="col-xs-3"><div class="well digit rodolfo-calculadora-sinais">&divide;</div></div>
        </div>
    </div>
    </div>
				  
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-link" data-dismiss="modal">Sair</button>
				</div>

			</div>


	</div>
</div>

</html>